/* src/components/StepsSidebar.css */
.steps-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 15%; /* Sidebar width */
    height: 100vh;
    background-color: #e0e0e0; /* Light grey background */
    color: #333; /* Darker font color */
    padding: 15px; /* Adjusted padding */
    display: flex;
    flex-direction: column;
    gap: 12px; /* Space between elements */
}

.steps-header {
    display: flex;
    align-items: center;
    gap: 8px; /* Space between the icon and text */
    margin-bottom: 15px;
    font-size: 16px;
    color: black; /* Black color for the text */
}

.steps-icon {
    font-size: 20px; /* Adjust icon size */
    color: black; /* Icon color */
}

.steps-description {
    font-size: 14px; /* Font size for the description */
    margin-bottom: 15px;
}

.welcome-screen-button {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    color: black;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.welcome-screen-button:hover {
    background-color: #e0e0e0; /* Slight hover effect */
}

.arrow-icon {
    margin-right: 4px; /* Space between icon and text */
}
